:root {
  --white: #fff;
  --primary: #e4d938;
  --black: #182339;
}


html {
  font-size: 62.5%;
}

body {
  background-image: url('./bg_bitcoin.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;

}

.app-title {
  font-size: 3.8rem;
  color: var(--white);
  line-height: .8;
  margin-top: 5rem;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  font-size: 2.2rem;
  color: var(--black);
}

.form select {
  background-color: #ece8ec;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  border-radius: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: background-color .3s;
  text-transform: uppercase;
}

.form [type="submit"]:hover {
  background-color: #deca48;

}

.error {
  background-color: rgb(189, 28, 28);
  text-align: center;
  padding: 1rem;
  color: var(--white);
  font-weight: 700;
  border-radius: 1rem;
}

.result-wrapper {
  margin-top: 5rem;
}

.result-wrapper h2 {
  text-align: center;
  font-size: 3.8rem;
}

.result {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}

.result img {
  width: 100%;
}

.result p {
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
}

.result span {
  font-weight: 700;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--primary);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Social Media Styles */

.social-container {
  margin-block: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.social-title {
  font-size: 2rem;
  font-weight: 900;
  color: var(--black);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 1.25rem;

}

.social-icon {
  color: var(--black);
  transition: transform 0.3s ease-in-out
}

.social-icon:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: var(--primary);
}

.icon {
  height: 5rem;
  width: 5rem;
}