:root {
  --white: #fff;
  --primary: #e4d938;
  --black: #182339;
}


html {
  font-size: 62.5%;
}

body {
  background-image: url('./bg_bitcoin.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;

}

.app-title {
  font-size: 3.8rem;
  color: var(--white);
  line-height: .8;
  margin-top: 5rem;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  font-size: 2.2rem;
  color: var(--black);
}

.form select {
  background-color: #ece8ec;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  border-radius: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: background-color .3s;
  text-transform: uppercase;
}

.form [type="submit"]:hover {
  background-color: #deca48;

}